*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 60vw;
    height: 75vh;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 0, 22);
}
.gotv_sheet{
    width: 30vw;
    height: 55vh;
    display: flex;
    flex-direction: row; 
    background-image: url(../assets/images/showmaxlogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.main{
    width: 60vw;
    height: 75vh;
    display: flex;
    flex-direction: row; 
    position: absolute;
}
h1{
    color: white;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
p{
    color: white;
    font-size: 0.9em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.col1{
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.col2{
    width: 20vw;
    height: 70vw;
    display: flex;
    flex-direction: column;
}
.info{
    width: 40vw;
    height: 18vh;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-top: 2vh;
}
.img_sheet{
    width: 9vw;
    height: 8vh;
    margin-bottom: 0.5vw;
    margin-left: 1vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5vw;
}
.img_sheet img{
    width: 6.5vw;
    height: 6.5vh;
}
.info h1{
    margin-left: 1.5vw;
    margin-bottom: 0.5vw;
}
.info p{
    margin-left: 1vw;
}
.form{
    width: 40vw;
    height: 27vw;
    margin-left: 2vw;
    margin-top: 0.5vw;
    display: flex;
    flex-direction: column;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40vw;
    height: 10vh;
    margin-bottom: 1vh;
}
.li-inp{
    width: 20vw;
    height: 5vh;
    border: none;
    background-color: transparent;
    color: #fff;
    border-bottom: 1.5px solid #fff;
    outline: none;
}
.btn{
    width: 10vw;
    height: 3vw;
    background-color: transparent;
    border: 1.5px solid #fff;
    color: white;
    font-size: 0.9em;
    margin-top: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn:hover{
    background-color: white;
    border: none;
    color: rgb(5, 0, 22);
    transition: 0.5s;
}












